<div class="container">
  <div class="row">
    <div class="col">
      <a class="hov" (click)="back()">
        <u> &larr; Back</u>
      </a>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sub-Admin</th>
        <th scope="col">Approved</th>
        <th scope="col">Reject</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Raana sayeda</td>
        <td><button class="btn btn-success">Approved</button></td>
        <td><button class="btn btn-danger">Reject</button></td>
      </tr>
    </tbody>
  </table>
</div>
